# Used: gitignore template for Bazel build system
# https://github.com/github/gitignore/blob/main/community/Bazel.gitignore

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
**/bazel-*

# Ignore Vim swap files.
.*.swp
/.vscode/

# Ignore common Python artifacts:
__pycache__
.pytest_cache

# Ignore Python virtual environment
venv

# Ignore MicroMamba artifacts
.ci/micromamba/bin/
.ci/micromamba/micromamba/

# Ignore FOSS project clone dirs
/test/foss/*/test-proj/

# Ignore test specific bazelversion files
test/unit/external_repository/.bazelversion
test/unit/external_repository/third_party/my_lib/.bazelversion
