[MASTER]
# To find common lib for tests
init-hook='import sys; import os; sys.path.append("test"); sys.path.append(os.getcwd())'
ignore = test_template.py

[FORMAT]
max-line-length=80

[MESSAGES CONTROL]
disable=
    fixme,
