[MASTER]
# To find common lib for tests
init-hook='import sys; import os; sys.path.append("test"); sys.path.append(os.getcwd())'
# Check every directory, except the ones that are not ours
recursive = yes
ignore-patterns = .ci,bazel-*

[FORMAT]
max-line-length=80

[MESSAGES CONTROL]
disable=
    fixme,
