# Copyright 2023 Ericsson AB
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: codechecker-bazel-micromamba-tests

# Trigger the workflow manually
on:
  workflow_dispatch:
    inputs:
      arguments:
        description: "Arguments: test to run"
        default: "pytest test/unit -v"
        required: true
        type: string

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  micromamba-test:
    name: "Micromamba tests (Ubuntu)"
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: System Information
        run: |
          lsb_release -a
          uname -a

      - name: Install micromamba and run tests
        run: |
          . .ci/micromamba/init.sh -v
          ${{ inputs.arguments }}
